<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Pantry Item</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Pantry Item</h1>
    <form action="/users/<%= userId %>/foods" method="POST">
      <label for="name">Food Name:</label>
      <input type="text" name="name" id="name" required>
      <button type="submit">Add Item</button>
    </form>
    <a href="/users/<%= userId %>/foods">Back to Pantry</a>
  </body>
</html>
