<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username %>'s Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Pantry</h1>
    <ul>
      <% if(user.pantry.length > 0) { %>
        <% user.pantry.forEach(function(food) { %>
          <li><%= food.name %></li>
        <% }) %>
      <% } else { %>
        <li>This user has no pantry items.</li>
      <% } %>
    </ul>
    <a href="/users">Back to Community</a>
  </body>
</html>
